[aws]
vhaws_gw ansible_host=${gw_ip} ansible_user=ubuntu
vhaws_gh ansible_host=${gh_ip} ansible_user=ubuntu

[vhaws]
vhaws_gw ansible_host=${gw_ip} ansible_user=ubuntu
vhaws_gh ansible_host=${gh_ip} ansible_user=ubuntu